* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(241, 238, 238);
  margin-top: 50px;
}

.full-page {
  position: relative;
}

.img {
  width: 60px;
  height: 55px;
  margin-left: 525px;
  display: block;
  margin-right: 15px;
}

#container {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(53, 141, 255, 0.767);
}

.box {
  width: 450px;
  height: 360px;
  background-color: white;
  margin-left: 512px;
  border-radius: 5px;
}

.box h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 25px;
  padding-top: 40px;
  font-weight: normal;
}

.email {
  margin-top: 30px;
  width: 400px;
  height: 40px;
  font-size: 15px;
  margin-left: 25px;
  border: 1px solid rgb(222, 218, 218);
  border-radius: 5px;
}

.password {
  margin-top: 20px;
  width: 400px;
  height: 40px;
  align-self: center;
  font-size: 15px;
  margin-left: 25px;
  border: none;
  border: 1px solid rgb(222, 218, 218);
  border-radius: 5px;
}

.login {
  margin-top: 20px;
  width: 400px;
  height: 40px;
  align-self: center;
  text-align: center;
  font-size: 20px;
  margin-left: 25px;
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  font-weight: normal;
  border-radius: 5px;
  cursor: pointer;
}

.box h3 {
  margin-top: 30px;
  font-size: 20px;
  font-family: helvetica;
  text-align: center;
  font-weight: normal;
  text-align: center;
}
