<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon"
        href="https://cdn.discordapp.com/attachments/856199547817820162/1024026255043088394/favicon.ico"
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>

<style>
    /*STYLE*/
    a {
        text-decoration: none;
    }
</style>

<body>
    <p id="noticeData" hidden>
        <%= JSON.stringify(notice) %>
    </p>
    <nav class="navbar">
        <ul class="nav-list">
            <img class="WCE_logo"
                src="https://cdn.discordapp.com/attachments/856199547817820162/1023766795678662716/wceLogoPNG-removebg-preview.png"
                width="80" height="50" alt="No image">
            <li class="nav-items"><a href="/admin-dashboard">Admin Dashboard</a></li>

            <a class="logoutButton" href="/create-notice">Create Notice</a>
            <a class="logoutButton" href="/logout">Logout</a>
        </ul>
    </nav>

    <rightColumn class="grid1-item">
        <div class="tags">
            <form action="/admin-dashboard">

                <label for="startDate">From:</label>
                <input type="date" name="startDate" id="">

                <label for="endDate">To:</label>
                <input type="date" name="endDate" id="">

                <label for="type">For:</label>
                <select name="type" id="type">
                    <option value="Everyone">Everyone</option>
                    <option value="BTech">BTech</option>
                    <option value="MTech">MTech</option>
                    <option value="Diploma">Diploma</option>
                </select>

                <label for="year">Year:</label>
                <select name="year" id="year">
                    <option value="Everyone" selected>Everyone</option>
                    <option value="First Year">First Year</option>
                    <option value="Second Year">Second Year</option>
                    <option value="Third Year">Third Year</option>
                    <option value="Fourth Year">Fourth Year</option>
                </select>

                <label for="branch">Branch:</label>
                <select name="branch" id="branch">
                    <option value="Everyone" selected>Everyone</option>
                    <option value="Computer Science">Computer Science Engineering</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Electronics Engineering">Electronics Engineering</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                </select>

                <button type="submit">Sort</button>
            </form>
            <form id="searchForm">
                <label for="search">Search:</label>
                <input class="searchInTable" type="text" name="search" id="theSearchQuery">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="smallerBox">
            <!-- {%xyzCARDS%} -->
            <table class="cardTable" id="noticesRender">
                <tr>
                    <th class="table-heading heading-title">
                        Title
                    </th>
                    <th class="table-heading heading-subtitle">
                        SubTitle
                    </th>
                    <th class="table-heading heading-date">
                        Date
                    </th>
                    <th class="table-heading heading-id">
                        Notice-id
                    </th>
                    <th class="table-heading heading-description">
                        Description
                    </th>
                    <th class="table-heading heading-download">
                        Download
                    </th>
                    <th class="table-heading heading-download">
                        Delete
                    </th>
                </tr>


            </table>
        </div>
    </rightColumn>
    <script src="/js/searchFiltering.js"></script>
</body>

</html>