<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            
                <img href="/" class="WCE_logo" onclick="window.location.href='/'" style="cursor: pointer;"
                src="https://cdn.discordapp.com/attachments/856199547817820162/1023766795678662716/wceLogoPNG-removebg-preview.png"
                width="80" height="50" alt="No image">
       


            <li class="nav-items"><a href="/admin-dashboard">WCE Notice Board</a></li>

      
        </ul>
    </nav>
    <div id="container">
        <div class="content">
            <h2>404</h2>
            <h4>Opps! Page not found</h4>
            <p>The page you were looking for doesn't exist...</p>
            <a href="/">Back To Home</a>
        </div>
    </div>

</body>

</html>